<app-nav-bar></app-nav-bar>
<mat-spinner
      *ngIf="isLoading"
      class="movie-spinner"
      color="primary"
      diameter="80"
    ></mat-spinner>
<div class="movie-container">
  <mat-card *ngFor="let movie of movies" style="flex: 1 1 auto;">
      <mat-card-header>
      <mat-card-title>{{movie.Title}}
      </mat-card-title>
        <div>
        <mat-icon *ngIf="!setFaveStatus(movie._id)" (click)="addToFavoriteMoviesList(movie._id, movie.Title)" class="favorite-button">favorite_border</mat-icon>
        <mat-icon *ngIf="setFaveStatus(movie._id)" (click)="removeFromFavorites(movie._id, movie.Title)" class="favorite-button-active">favorite</mat-icon>
        </div>
          <mat-card-subtitle>Directed by: {{movie.director.name}}</mat-card-subtitle>
      </mat-card-header>
      <img class="movie-poster" src={{movie.imageUrl}} alt= {{movie.Title}} />
      <mat-card-actions>
          <button
              mat-stroked-button
              (click)="openGenre(movie.genre.name, movie.genre.description)"
              color="primary"
          >
              Genre
          </button>
          <button
              mat-stroked-button
              (click)="openDirectorDialog(movie.director.name, movie.director.bio, movie.director.birthyear)"
              color="primary"
          >
              Director
          </button>
          <button
              mat-stroked-button
              (click)="openMovieSynopsis(movie.Title, movie.description, movie.trailerUrl)"
              color="primary"
          >
              Synopsis
          </button>
      </mat-card-actions>
  </mat-card>
</div>

<script src="https://www.youtibe.com/iframe_api"></script>