<mat-toolbar>
  <button mat-icon-button class="icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Welcome {{ userDetails }} </span>
  <span class="top-nav"></span>
  <button
      mat-button
      routerLink="/movies"
      color="primary"
    >
      Browse Movies
    </button>
    <button
      mat-button
      routerLink="/favorites"
      color="primary"
    >
      Favorites
    </button>
    <button 
      mat-button 
      routerLink="/profile"
      color='primary'
    >
        Profile
    </button>
    <button 
        mat-button
        (click)="signOut()"
        color="primary"
      >
        Log out
      </button>
</mat-toolbar>

