.top-nav{
  flex: 1 1 auto;
  margin-left: 25px;
  margin-right:25px;
}
// dark gray #375869

.nav-btn {
  color:#fff;
  font-weight: 400;
  letter-spacing: 0.1em;
}

mat-toolbar {
  background-color: #375869;
  color:#fff;
  padding-left:35px;
}