<div class="genre-container">
  <div class="genre-header">
    <h2 class="title">{{ movieSynopsis.Title }}</h2>
  </div>
  <!-- <div>
      <iframe width="560" height="315" 
      [src]="movieSynopsis.trailerUrl"
      title="YouTube video player" 
      frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div> -->
  <div>
    <mat-dialog-content class="genre-content">
      {{ movieSynopsis.description }}
    </mat-dialog-content>
  </div>
  <div class="close-btn"><button mat-icon-button aria-label="Close the director details button" mat-dialog-close color="primary">
    Close
  </button></div>
</div>