.profile-container {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  margin-right: 25px;
  flex-wrap: wrap;
  align-items: center;
  background-color: white;
  margin: 0 auto;
  width:80%;
  border: 1px solid #375869;
  -webkit-box-shadow: 0px 8px 30px 5px rgba(0,0,0,0.44); 
  box-shadow: 0px 8px 30px 5px rgba(0,0,0,0.44);
  height:100vh;

}
.meta {
  color: gray;
  font-style: italic;
}
.profile-pic {
  border-radius: 75px;
  margin:25px;
}
.accnt-btn {
  margin:10px
}