// dark gray #375869
// light gray #567280

.mat-card {
  min-width:260px;
  max-width: 275px;
  margin: 10px;
}
.favorite-button {
  float:right;
  cursor: pointer;
}

.favorite-button-active {
  float: right;
  color: red;
  cursor: pointer;
}
.mat-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.movie-poster {
  min-height:384px;
}

.mat-card-actions {
  text-align:center;
}

.movie-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left:25px;
  margin-right: 25px;

}

.favorites-container {
  text-align: center;
  margin:25px 0;
  color: white;
}

mat-divider {
  width:95%;
  margin:0 auto;
  padding-bottom:25px;
}

.movie-spinner {
  margin: 0 auto;
  margin-top:50px;
}

::ng-deep .mat-card-header-text {
  margin: 10px 0px !important ;
}